{% extends 'products/base.html' %}
{% load static %}
{% block content %}
<div class="container" >
    <div class="container-fluid">
    <nav aria-label="breadcrumb" class="navbar">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'products' %}">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">Electronics</li>
      </ol>
    </nav>
    </div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% if products %}
    {% for product in products %}
   <div class="col">
    <div class="card">
      <img src="{{product.photo.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <h5 class="card-title" align="right">{{ product.price }} SR</h5>
      </div>
    </div>
     </div>
    {% endfor %}
    {% else %}
    <p>no product Available</p>
    {% endif%}
</div>
    <nav aria-label="...">
        {% if products.has_other_pages %}
          <ul class="pagination">
              {% if products.has_previous %}
            <li class="page-item ">
              <a class="page-link" href="?page={{products.previous_page_number}}" >Previous</a>
            </li>
              {% else %}
               <li class="page-item disabled">
              <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
              {% endif %}
              {% for i in products.paginator.page_range %}
                {% if products.number == i %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{i}}">{{i}}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{i}}">{{i}}</a>
                    </li>
                {% endif %}
              {% endfor %}
              {% if products.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{products.next_page_number}}">Next</a>
                    </li>
              {% else %}
                   <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
              {% endif %}
          </ul>
        {% endif %}
</nav>

</div>
{% endblock %}